* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;

    font-family: 'Righteous', cursive;

}

img {
    max-width: 100%;
}

body {

    background-image: url('../imgs/bg.jpg');
    background-repeat: none;
    background-size: cover;
}

div {

    padding-top: 20vh;

}

p {
    color: white;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: red;
}